/** 居中页面内容宽度 */
$page-center-content-width: 940px;

/** 应用基础变量 */
$primary:       #409EFF;    // ui色
$success:       #6cb37a;    // 正确显示的颜色
$warning:       #E6A23C;    // 警告色
$danger:        #eb503c;    // 错误提示色

$black:         #000000;
$font:          #333333;
$light-font:    #666666;
$most-font:     #999999;

$border:        #cccccc;
$border-divider:#ededed;

$bg:            #ffffff;
$bg-gray:       #f1f1f3;